*{
  font-family:  monospace;
}

.navbar{
    height: 3rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: transparent;
    position: sticky;
    top: 0;
    /* background-color: red   ; */
}

.btnsecondary{
    margin-right: 10px;
}

.container{
    /* background-color: red; */
    background: url("../images/homebg.png");
    background-size: cover; /* Adjust how the background image is displayed */
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column  ;
}
.formContainer{
  display: flex;
}
















::-webkit-scrollbar {
    width: 12px; /* Set width of the scrollbar */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: transparent; /* Set the color of the thumb (the moving part of the scrollbar) */
  }
  
  ::-webkit-scrollbar-track {
    background-color: transparent; /* Set the color of the track (the non-moving part of the scrollbar) */
  }

