*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

.gotohome{
    height: 20px;
    width: 20px;
    background-color: red;
}

.btnprimary{
    background-color: orange;
    color: #fff;
    height: 2rem;
    width: 6rem;
    border-radius: 4px;
    border: none;
    outline: none;
    cursor: pointer;
}


.btnsecondary{
    background-color: rgb(1, 62, 70);
    color: #fff;
    height: 2rem;
    width: 5rem;
    border-radius: 4px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.08s ease-in-out;
}
.btnsecondary:hover{
    background-color:rgb(0, 124, 159) ;
    transform: scale(1.06);
}




/* ---------------------------------------------- blog container ------------------ */
.blogsWrapper{
    margin-top: 1rem;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.178);
    padding:2.5rem ;
    border-radius: 5px;
    backdrop-filter: blur(2px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    overflow-y: scroll;
}
.blogImage{
    height: 14rem;
    transition: all 0.2s ease-in-out;
    /* border-bottom:2px solid  #000; */
}
.blogImage:hover{
    transform: scale(1.2);
}

.blogContainer{
    background-color: rgb(235, 235, 235);
    width: 21rem;
    height: 27rem;
    margin-bottom:1rem ;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    /* opacity: 0.89; */
    border-radius: 7px;
    overflow: hidden;
    position: relative;
    
}

.blogContainer:hover{
    box-shadow: 1px 1px 10px 3px #979797;
}
.blogImageContainer{
    overflow: hidden;
    /* border-bottom: 1px solid black; */
    padding: 0;
}
.blogContentContainer{
    padding: 1.5rem;
   
}

.blogTitleContainer{
    margin-bottom: 10px;
}

.blogParaContainer{
    margin-bottom: 10px;
   
}
.blogPara {
    color: #000;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Set the number of lines to show */
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  
.blogTitle{
    color: #000;
    font-size: medium;
}

/* --------------------------------------------------open post pop time container css ---------------------------- */

.showPostContainer{
    position: absolute;
    width: 90rem;
    background-color: rgba(255, 255, 255, 0.98);
    padding: 3rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius:10px ;
    border:2px solid black;
    height: 94vh;
    transition: all 0.2s ease-in-out;
    overflow-y:auto ;
    z-index: 20;
}
.scroller{
    /* overflow: auto; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.openPostImg{
    /* margin-top: 5rem; */
    height: 50vh;
    /* width: 90%; */
    margin-bottom: 20px;
    border-radius:10px ;
    border: 1px solid gray;
}

.openPostTitle{
    color: #000;
}
.openPostPara{
    color: #000;
    line-height: 1.5;
    text-indent:2rem;
    text-align: start;
    margin-top: 20px;
}
/* .openPostParaContainer{
    overflow-y: auto;
} */
.blogOperationContainer{
    position: absolute;
    bottom: 0;
}

.dangerbtn{
    background-color: red;
}
.dangerbtn:hover{
    background-color: rgb(255, 91, 91);
}


/* ----------------------------------------------------------------------------------------------------------------------------- */


.multi-line-ellipsis {
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Set the number of lines to show */
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  

  @media screen and (max-width:1495px){
    .showPostContainer{
        width: 80rem; }
  }
  @media screen and (max-width:1320px){
    .showPostContainer{
        width: 70rem;
 }
  }
  @media screen and (max-width:1160px){
    .showPostContainer{      
        width: 50rem; 
    }
  }
  @media screen and (max-width:830px){
    .showPostContainer{    
        width: 40rem;
    }
  }
  @media screen and (max-width:830px){
    .showPostContainer{
        width: 30rem;
    }
    .openPostImg{
        height: 40vh;
    }
  }
  @media screen and (max-width:570px){
    .showPostContainer{
        position: fixed;
        top: 5%;
        left: 7%;
        transform: translate(0%, 0%);

    }
    .openPostImg{
        height: 40vh;
    }
  }


  @media screen and (max-width:505px){
    .showPostContainer{
        width: 25rem;
    }
    .openPostImg{
        height: 30vh;
    }
  }
  @media screen and (max-width:440px){
    .showPostContainer{
        width: 20rem;     
    }
    .openPostImg{
        height: 25vh;
    }
  }